# .gitignore

# Node modules
node_modules/

# Environment variables
.env


/test.txt

# Ignore Firebase service account key file
config/parenteye.adminsdk.json
# Ignore Firebase service account keys
config/firebaseadmin.js
